.font_monserrat{
    font-family: 'Montserrat', Helvetica;
}

.header__logo{
    width: 178px;
    height: 106px;
}

.header_wrapper{
    display: flex;
    flex-direction: column;
}

.header_backimage{
    width: 100%;
    /*height: 100%;*/
    height: 330px;
    max-width: 827px;
    object-fit: contain;
    object-position: right;
}

.ttn_subtitle{
    /* font-family: 'Merriweather Sans'; */
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #D3B574;
}

.ttn_text_gold{
    color: #D3B574;
}

.ttn_text_darkgray{
    /* font-family: 'Montserrat', Helvetica; */
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #211F40;
}

.ttn_text_cleargray{
    color: rgba(33, 31, 64, 0.5);
}

.ttn_about_text{
    /* font-family: 'Merriweather Sans'; */
    font-size: 16px;
    line-height: 20px;
}

.ttn_image_fluid{
    max-width: 100%;
    height: 240px;
    object-fit: contain;
    object-position: bottom;
}

.ttn_mantain_title{
    /* font-family: 'Montserrat', Helvetica; */
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #031B72;
}
.ttn_center{
    margin: 0 auto;
    text-align: center;
}

.ttn_mantain_circle{
    background-color: #EBEBF0;
    border-radius: 100%;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 8px auto;
}

.ttn_mantain_circle > p {
    margin: 0;
    color: #031B72;
    opacity: 0.5;
    font-size: 32px;
}
.ttn_feature_wrap{
    position: relative;
}
.ttn_feature_image{
    z-index: 9;
}

.ttn_feature_floaty_line{
    position: absolute;
    top: -90px;
    left: 38px;
    z-index: -1;
}
.ttn_feature_floaty_line--bot{
    position: absolute;
    bottom: -30px;
    right: 30px;
    z-index: -1;
}

.ttn-justify{
    text-align: justify;  
}

@media (min-width: 425px){
    .header_backimage{
        position:absolute;
        right:0;
        top:84px;
        bottom:0;
    }
    
    .header_text{
        margin-top: 250px;
        z-index: 9;
    }
}

@media (min-width: 992px) {
    .header_wrapper{
        flex-direction: row-reverse;
    }
    .header_backimage{
        position:absolute;
        right:0;
        top:84px;
        bottom:0;
        object-position: top;
        height: auto;
        width: 50%;
    }
}

@media (min-width: 1400px) {
    .header_text{
        margin-top: 0;
    }
}